*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
	font-family: Roboto;
	src: url("../webfonts/Roboto-Thin.ttf");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	src: url("../webfonts/Roboto-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}
.close{
	display: none;
}

body {
	font-family: "Roboto";
	color: white;
	font-size: 18px;
	font-weight: 100;
	text-align: center;
}
h1{
	font-size: 35px;
	font-weight: 400;
}
a {
	color: white;
}

#main {
	width: 100%;
}

#wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-width: 100%;
	min-height: 100%;
	background: url("../img/origin.jpg");
	padding-bottom: 100px;
}

#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
article {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	color: white;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	color: #fff;
	padding-bottom: 0.5rem;
}
.logo:hover {
	color:black;
}

#delimeter {
	display: flex;
	flex-direction: row;
	height: 50px;
}
#left_del{
	border-right: 1px solid white;
}
#right_del{
	border-left: 1px solid white;
}

.content {
	font-size: 24px;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
}
.article-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 24px;
	border-top: solid 2px white;
	border-bottom: solid 2px white;
	width: 75%;
	padding: 10px;
	text-align: justify
}
.article-content > h1 {
	margin-top: 5px;
	margin-bottom: 15px;
}
ul {
	list-style-type: circle;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
ul > * {
	list-style-type: circle;
	margin: 10px;
	width: 75%;
}

.inner {
	margin-bottom: 10px;
	width: 75vh;
}
.inner h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 20px;
}
#nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding-left: 1px;
}
#a {
	display: flex;
	border: 2px solid white;
	border-left: 0px;
	width: 170px;
	height: 40px;
	padding: 5px;
	padding-top: 1.5vh;
}
#a:nth-child(1) {
	border-left: 2px solid white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#a:nth-child(2) {
	border-right: 1px solid white;
} 
#a:nth-child(3) {
	border-left: 1px solid white;
}
#a:nth-child(4) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
a {
	width: 100%;
	height: 100%;
}
a:hover{
	opacity: 0.5;
}

#login > * {
	width: 50%;
}
#register > * {
	width: 50%;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

label {
	display: block;
	margin-top: 10px;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-align: left;
	width: 50%;
}

input {
	width: 50%;
	padding: 13px;
	border: 0;
	border-radius: 20px;
	opacity: 0.3;
}

input p {
	color: white;
	opacity: 1;
}

input[type="submit"] {
	padding: 10px;
	font-size: 17px;
	width: 65%;
	border: 2px solid black;
	opacity: 0.35;
}
input[type="submit"]:hover {
	opacity: 0.3;
}
.fields {
	display:flex;
	width: 100%;
	flex-direction: column;
	justify-content: left;
	align-items: center;
}

.fields > span {
	color: rgb(223, 255, 0);
	font-size: 18px;
	margin: 5px;
	min-height: 20px;
}
