* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	width: 0px;
	background: rgba(255, 255, 255, 0.0);
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

input[type=range] {
	height: 33px;
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #CDCCE3;
	border-radius: 4px;
	border: 1px solid #534B8A;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #828282;
	border: 1px solid #4C488A;
	height: 25px;
	width: 31px;
	border-radius: 13px;
	background: #D4D3DA;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #CDCCE3;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #CDCCE3;
	border-radius: 4px;
	border: 1px solid #534B8A;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #828282;
	border: 1px solid #4C488A;
	height: 25px;
	width: 31px;
	border-radius: 13px;
	background: #D4D3DA;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 14px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #CDCCE3;
	border: 1px solid #534B8A;
	border-radius: 8px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
	background: #CDCCE3;
	border: 1px solid #534B8A;
	border-radius: 8px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 1px 1px 1px #828282;
	border: 1px solid #4C488A;
	height: 25px;
	width: 31px;
	border-radius: 13px;
	background: #D4D3DA;
	cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
	background: #CDCCE3;
}

input[type=range]:focus::-ms-fill-upper {
	background: #CDCCE3;
}




html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/

@font-face {
	font-family: Roboto;
	src: url("../webfonts/Roboto-Thin.ttf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url("../webfonts/Roboto-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "Roboto";
	color: white;
	font-size: 24px;
	font-weight: 100;
	text-align: center;
}

h1 {
	font-size: 35px;
	font-weight: 400;
}

a {
	color: white;
}

#wrapper {
	display: flex;
	flex-direction: column;
	min-width: 100%;
	min-height: 100%;
	background-color: white;
	background: url("../img/origin.jpg");
	padding-top: 10px;
	padding-bottom: 10px;
	align-items: center;
}

header {
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#content {
	flex: 1;
	width: 100%;
}

#nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding-left: 1px;
}

#a {
	display: flex;
	border: 2px solid white;
	border-left: 0px;
	min-width: 180px;
	min-height: 40px;
}

#a:nth-child(1) {
	border-left: 2px solid white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#a:nth-child(2) {
	border-right: 1px solid white;
}

#a:nth-child(3) {
	border-left: 1px solid white;
}

#a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

a, p {
	width: 100%;
	height: 100%;
	padding-top: 7px;
}

a:hover {
	opacity: 0.5;
}

#delimeter {
	display: flex;
	flex-direction: row;
	height: 25px;
}

#left-del {
	flex: 1;
	border-right: 1px solid white;
}

#right-del {
	flex: 1;
	border-left: 1px solid white;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#inner {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: 10px;
	width: 95%;
	border-bottom: solid 2px white;
}

#inner-text {
	border-top: solid 2px white;
	width: 65%;
	padding-top: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 80px;
}

#page-div {
	width: 95%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#game-list {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

.game-item {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 1%;
	height:100%;
	width: 30%;
	border: 2px solid white;
	border-radius: 5px;
}

.img-item {
	border-bottom: 2px solid white;
	padding-bottom: 5px;
	width: 100%;
	height: 60%;
	margin-bottom: 5px;
}
#g0 {
	background-image: url("../img/pic01.jpg");
}
#g1 {
	background-image: url("../img/pic01.jpg");
}
#g2 {
	background-image: url("../img/pic01.jpg");
}

img {
	width: 100%;
	height: auto;
	border: 2px dotted white;
	border-radius: 5px;
}

#like-cont {
	position: relative;
	width: 100%;
}

#like {
	position: absolute;
	right: 5px;
	bottom: 7px;
}

#page-bot {
	width: 100%;
	border-top: solid 2px white;
}

#disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}
#item-content {
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#item-content > div {
	width: 50%;
	display: flex;
	flex-direction: column;
}
#item-rel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#item-rel > p {
	width: 50%;
}

form {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

label {
	display: block;
	margin-top: 10px;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-align: left;
	width: 50%;
}

input {
	width: 65%;
	height: 35px;
	padding: 2px;
	border: 0;
	border-radius: 20px;
	opacity: 0.3;
	margin: 2px;
}
select {
	width: 65%;
	height: 35px;
	padding: 2px;
	border: 0;
	border-radius: 20px;
	opacity: 0.3;
	margin: 2px;
}

input[type="submit"] {
	font-size: 17px;
	border: 2px solid black;
	opacity: 0.35;
	width: 65%;
}

input[type="submit"]:hover {
	opacity: 0.3;
}

.fields {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: left;
	align-items: center;
}

.fields > span {
	color: rgb(223, 255, 0);
	font-size: 18px;
	margin: 5px;
	min-height: 20px;
}

#sa-form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#search-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#inner-text > #a {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-left: 2px solid white;
	width: 40%;
	margin-top: 20px;
}

#inner-item {
	display: flex;
	flex-direction: column;
	width: 95%;
	border-top: 2px solid white;
}
#inner-item > h1 {
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}
#item-content {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}
#item-left {
	padding: 1%;
	border-right: 1px solid white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#item-right {
	border-left: 1px solid white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1%;
	text-align: left;
}
#item-desc {
	padding: 5px;
	border-bottom:2px solid white;
}
#item-form {
	display: flex;
	flex-direction: column;
}
.range {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.range :last-child {
	text-align: right;
}

#inner-set {
	border-top: 2px solid white;
	display: flex;
	flex-direction: row;
	width: 95%;
	justify-content: space-around;
}
#setting-add {
	display: flex;
	flex-direction: column;
	width: 50%;
}
#setting-set {
	display: flex;
	flex-direction: column;
	width: 50%;
}
#sa-set-form {
	width: 100%;
}
#sa-add-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
}
#sa-add-form > * {
	text-align: center;
	width: 80%;
}
#sa-add-form > input {
	width: 40%;
}
#sa-add-form > span {
	color: rgb(223, 255, 0);
	font-size: 18px;
	margin: 5px;
	min-height: 20px;
}
#radio {
	display: flex;
	flex-direction: row;

}