<header id="header">
			<div class="logo">
				<span class="fa fa-gamepad fa-3x"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>GRS</h1>
					<p>
						Рекомендаціна система компьютерних ігор.
					</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#intro">Про застосунок</a></li>
					<li><a href="#work">Бібліотека</a></li>
					<li><a href="#about">Авторизація</a></li>
					<li><a href="#contact">Реєстрація</a></li>
				</ul>
			</nav>
		</header>